/*reference color palette
light brown = #EDDDD0
red = #DB504A
dark blue = #334259
off white = #E5E5DC
light blue = #A6CAD4
*/ 

body{
    background-color: #EDDDD0
}

header{
    background-color:#A6CAD4
}
footer{
    background-color:#A6CAD4
}

h1{
    font-family: Montserrat, sans-serif;
}

.nav{
    background-color: #B5D3E7;
    display: block;
    margin-top: 0;
    padding: 2px;
    border: 1px solid black;
    width:150px;
    text-align: center;
}

.title{
    margin-bottom: 0;
}

img{
    margin:20px, 0px, 20px, 0px;
}
