/*reference color palette
Yellow-green Crayola = #C5E99B
Dark Sea Green = #8FBC94
Steel Teal = #548687
English Violet = #56445D
Bud Green = # 6DA34D
*/ 

body{
    background-color: #C5E99B
}

h1{
    font-family: Montserrat, sans-serif;
    color: #56445D
}

.nav{
    background-color: #B5D3E7;
    display: block;
    margin-top: 0;
    padding: 2px;
    border: 1px solid black;
    width:150px;
    text-align: center;
}

.title{
    margin-bottom: 0;
}

img{
    margin:20px, 0px, 20px, 0px;
}
